PA6WF/Connected Services/ServiceReferencePA6/WebServicePA6.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetEmployeesWhoWhereSick2004">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesWhoWhereSick2004Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesWhoWhereSick2004Result" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeesWithMostAbscense">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesWithMostAbscenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesWithMostAbscenseResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeesAndRelatives">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesAndRelativesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesAndRelativesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaDataFromEmployeeTable">
        <s:complexType />
      </s:element>
      <s:element name="GetMetaDataFromEmployeeTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaDataFromEmployeeTableResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetKeyConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetKeyConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetKeyConstraintsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIndexes">
        <s:complexType />
      </s:element>
      <s:element name="GetIndexesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIndexesResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTableConstraints">
        <s:complexType />
      </s:element>
      <s:element name="GetTableConstraintsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTableConstraintsResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTablesMethodOne">
        <s:complexType />
      </s:element>
      <s:element name="GetTablesMethodOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTablesMethodOneResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTablesMethodTwo">
        <s:complexType />
      </s:element>
      <s:element name="GetTablesMethodTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTablesMethodTwoResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeColumnsOne">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeColumnsOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeColumnsOneResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeColumnsTwo">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeColumnsTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeColumnsTwoResult" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeesWhoWhereSick2004SoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesWhoWhereSick2004" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesWhoWhereSick2004SoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesWhoWhereSick2004Response" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesWithMostAbscenseSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesWithMostAbscense" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesWithMostAbscenseSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesWithMostAbscenseResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesAndRelativesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesAndRelatives" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesAndRelativesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesAndRelativesResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataFromEmployeeTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaDataFromEmployeeTable" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataFromEmployeeTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaDataFromEmployeeTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetKeyConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetKeyConstraints" />
  </wsdl:message>
  <wsdl:message name="GetKeyConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetKeyConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapIn">
    <wsdl:part name="parameters" element="tns:GetIndexes" />
  </wsdl:message>
  <wsdl:message name="GetIndexesSoapOut">
    <wsdl:part name="parameters" element="tns:GetIndexesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTableConstraintsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTableConstraints" />
  </wsdl:message>
  <wsdl:message name="GetTableConstraintsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTableConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTablesMethodOneSoapIn">
    <wsdl:part name="parameters" element="tns:GetTablesMethodOne" />
  </wsdl:message>
  <wsdl:message name="GetTablesMethodOneSoapOut">
    <wsdl:part name="parameters" element="tns:GetTablesMethodOneResponse" />
  </wsdl:message>
  <wsdl:message name="GetTablesMethodTwoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTablesMethodTwo" />
  </wsdl:message>
  <wsdl:message name="GetTablesMethodTwoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTablesMethodTwoResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeColumnsOneSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeColumnsOne" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeColumnsOneSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeColumnsOneResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeColumnsTwoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeColumnsTwo" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeColumnsTwoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeColumnsTwoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicePA6Soap">
    <wsdl:operation name="GetEmployeesWhoWhereSick2004">
      <wsdl:input message="tns:GetEmployeesWhoWhereSick2004SoapIn" />
      <wsdl:output message="tns:GetEmployeesWhoWhereSick2004SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesWithMostAbscense">
      <wsdl:input message="tns:GetEmployeesWithMostAbscenseSoapIn" />
      <wsdl:output message="tns:GetEmployeesWithMostAbscenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAndRelatives">
      <wsdl:input message="tns:GetEmployeesAndRelativesSoapIn" />
      <wsdl:output message="tns:GetEmployeesAndRelativesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataFromEmployeeTable">
      <wsdl:input message="tns:GetMetaDataFromEmployeeTableSoapIn" />
      <wsdl:output message="tns:GetMetaDataFromEmployeeTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetKeyConstraints">
      <wsdl:input message="tns:GetKeyConstraintsSoapIn" />
      <wsdl:output message="tns:GetKeyConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <wsdl:input message="tns:GetIndexesSoapIn" />
      <wsdl:output message="tns:GetIndexesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTableConstraints">
      <wsdl:input message="tns:GetTableConstraintsSoapIn" />
      <wsdl:output message="tns:GetTableConstraintsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTablesMethodOne">
      <wsdl:input message="tns:GetTablesMethodOneSoapIn" />
      <wsdl:output message="tns:GetTablesMethodOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTablesMethodTwo">
      <wsdl:input message="tns:GetTablesMethodTwoSoapIn" />
      <wsdl:output message="tns:GetTablesMethodTwoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeColumnsOne">
      <wsdl:input message="tns:GetEmployeeColumnsOneSoapIn" />
      <wsdl:output message="tns:GetEmployeeColumnsOneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeColumnsTwo">
      <wsdl:input message="tns:GetEmployeeColumnsTwoSoapIn" />
      <wsdl:output message="tns:GetEmployeeColumnsTwoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicePA6Soap" type="tns:WebServicePA6Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeesWhoWhereSick2004">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesWhoWhereSick2004" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesWithMostAbscense">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesWithMostAbscense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAndRelatives">
      <soap:operation soapAction="http://tempuri.org/GetEmployeesAndRelatives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataFromEmployeeTable">
      <soap:operation soapAction="http://tempuri.org/GetMetaDataFromEmployeeTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyConstraints">
      <soap:operation soapAction="http://tempuri.org/GetKeyConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap:operation soapAction="http://tempuri.org/GetIndexes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableConstraints">
      <soap:operation soapAction="http://tempuri.org/GetTableConstraints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablesMethodOne">
      <soap:operation soapAction="http://tempuri.org/GetTablesMethodOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablesMethodTwo">
      <soap:operation soapAction="http://tempuri.org/GetTablesMethodTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeColumnsOne">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeColumnsOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeColumnsTwo">
      <soap:operation soapAction="http://tempuri.org/GetEmployeeColumnsTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicePA6Soap12" type="tns:WebServicePA6Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeesWhoWhereSick2004">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesWhoWhereSick2004" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesWithMostAbscense">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesWithMostAbscense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesAndRelatives">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeesAndRelatives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataFromEmployeeTable">
      <soap12:operation soapAction="http://tempuri.org/GetMetaDataFromEmployeeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetKeyConstraints">
      <soap12:operation soapAction="http://tempuri.org/GetKeyConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexes">
      <soap12:operation soapAction="http://tempuri.org/GetIndexes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTableConstraints">
      <soap12:operation soapAction="http://tempuri.org/GetTableConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablesMethodOne">
      <soap12:operation soapAction="http://tempuri.org/GetTablesMethodOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTablesMethodTwo">
      <soap12:operation soapAction="http://tempuri.org/GetTablesMethodTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeColumnsOne">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeColumnsOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeColumnsTwo">
      <soap12:operation soapAction="http://tempuri.org/GetEmployeeColumnsTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicePA6">
    <wsdl:port name="WebServicePA6Soap" binding="tns:WebServicePA6Soap">
      <soap:address location="http://localhost/PA6WS/WebServicePA6.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicePA6Soap12" binding="tns:WebServicePA6Soap12">
      <soap12:address location="http://localhost/PA6WS/WebServicePA6.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>